.title {
  margin-top: 25px;
  font-size: 2.5em;
  text-align: center;
}

.element {
  margin: 40px auto;
  max-width: 450px;
  font-size: 1.5em;
}

.city {
  margin: 10px 0;
  font-size: 1.35em;
  text-align: center;
}

.weather-icon {
  display: block;
  max-width: 80px;
  margin: 15px auto;
}

.description {
  text-align: center;
  font-size: 0.9em;
}

.stats {
  margin: 20px 0px;
  display: flex;
}

.stat {
  text-align: center;
  flex: 0 0 25%;
}

.icon {
  max-width: 60px;
}